


  

/* Estilos para el contenedor principal */


.room-calendar-container {
    display: flex;
    flex-direction: column;
   
}


/* Estilos para cada sala y sus horarios */
.sala-horario-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

/* Estilos para cada sala */
.sala-item {
    font-weight: bold;
    margin-bottom: 10px;
    
    
}

/* Estilos para los horarios disponibles */
.horarios-disponibles { 
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;    
    justify-content: center;
    
}

/* Estilos para cada slot de horario */
.horario-slot {
    align-items: center;
    background: transparent;
    border-bottom: 1px solid #e0e3ea;
    border-right: 1px solid #e0e3ea;
    border-top: 1px solid #e0e3ea;
    display: grid;
    flex: 0 0 auto;
    width: 267.81px;
    height: 155.73px;
    justify-content: center;
    position: relative;
    text-align: center;
    font-size: 25px;
    transition: background .2s ease-out;
    padding: 20px;
    margin: 5px;
    border: 1px solid #8F00FF;
    border-radius: 12px;
    white-space: normal;

    
}


.horario-slot:hover{
    background: #33005B;
    color: #fff;
}


.inputDate{
    display: flex;
    align-items: center;
    justify-content: center;

    
}

#fechaSelector{
    background-color: transparent;
    text-align: center;
    font-size: 30px;
    border: none;
    width: 300px;
    font-weight: bold;
    text-transform: uppercase;
    
}

.react-datepicker-popper .react-datepicker__current-month {
    color: black;
}

.la-calendar-minus{
    font-size: 24px;
    color: #8F00FF;
}

/*.react-datepicker__calendar-icon{
    fill: #8F00FF; 
} 
*/


/*
input[type="date"]::-webkit-calendar-picker-indicator, input[type="time"]::-webkit-calendar-picker-indicator{
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 2.0;
    filter: invert(0.9);
}
*/


.buttonArrowLeft, .buttonArrowRight{
    margin-right: '5px';
    align-items: 'center';
    
}
.inputDate button{
    font-size: 3.5rem;
    color: #8F00FF;
    margin-left: 15px;
}
.filtros{
    display: none;
}


button:hover{
    color:#33005B;
}
//Estilo para las imagenes de cada sala


.salaImage{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    width: 300px;
   
}



.salaImage img{
  width: 276px;
  height: 164.05px;
  border-radius: 12px;


  
}




.salaImage img:hover{
    cursor: pointer;
}




.salaImage h3{
    font-size: 2.3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    color: whitesmoke;
    cursor: pointer;
    
}

//Boton reservar
.reservar{
    display: none;

}
.horario-slot:hover .reservar{
    display: flex;
    position: absolute;
    bottom: 15%;
    left: 12%;
    background-color: #8F00FF;
    color: #fff;
    border-radius: 999px;
    padding: 3px;
    font-size: 16px;
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
    
}


//Codigo para version movil

@media screen and (max-width: 600px) {
    .horarios-disponibles{
        display: flex;
        align-items: center;
        justify-content: left;
        flex-wrap: wrap;
        
    }


    .salaImage{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0%;
        
    }

    .salaImage img{
        border-radius: 12px;
        width: 374.46px;
        height: 172.77px;
    }
    
    .horario-slot{ 
        width: 119.11px;
        height: 52.03px;
        display: flex;
        flex-direction:column;
        text-align: center;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        font-size: small;
        border-radius: 12px;
        
    }



    #fechaSelector{
        width: 227px;
        font-size: 20px;
        margin-left: -15px;    
    }

    .la-calendar-minus{
        margin-left: 3px;
        
    }
    
    .inputDate button{
        display: none;
    }

    .NavCalendarRoom{
        display: none;
    }
    .filtros{
        display: flex;
        justify-content: center;
        font-size: 20px;
        float: right;
        width: 111px;
        height: 30px;
        margin-top: 3px;
        align-items: center;
        color: #8F00FF;
    }
    .la-sliders-h{
        transform: rotate(90deg);
    }

    .inputDate{
        display: flex;
        flex-direction: row-reverse;
        justify-content: left;     
    }

    .horario-slot:hover .reservar{
        display: none;
        
    }
    .sala-horario-container{
        margin: 0%;
        padding: 0%;

    }


  }

