


  

/* Estilos para el contenedor principal */
.room-calendar-container {
    display: flex;
    flex-direction: column;
    
}


/* Estilos para cada sala y sus horarios */
.sala-horario-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    
    
}

/* Estilos para cada sala */
.sala-item {
    font-weight: bold;
    margin-bottom: 10px;
    
}

/* Estilos para los horarios disponibles */
.horarios-disponibles {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: end;    
    justify-content: center;
    
    
}

/* Estilos para cada slot de horario */
.horario-slot {
    align-items: center;
    background: transparent;
    border-bottom: 1px solid #e0e3ea;
    border-right: 1px solid #e0e3ea;
    border-top: 1px solid #e0e3ea;
    display: flex;
    flex: 0 0 auto;
    height: 150px;
    justify-content: center;
    position: relative;
    text-align: center;
    transition: background .2s ease-out;
    padding: 25px;
    margin: 5px;
    border: 1px solid #8F00FF;
    border-radius: 3px;

    
}

.horario-slot:hover{
    background: #33005B;
    color: #fff;
}


.inputDate{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#fechaSelector{
    background-color: transparent;
    text-align: center;
    font-size: 18px;
    border: none;
    font-weight: bold;
}

.react-datepicker-popper .react-datepicker__current-month {
    color: black;
}
.react-datepicker__calendar-icon{
    fill: #8F00FF; 
} 



/*
input[type="date"]::-webkit-calendar-picker-indicator, input[type="time"]::-webkit-calendar-picker-indicator{
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 2.0;
    filter: invert(0.9);
}
*/


.buttonArrowLeft, .buttonArrowRight{
    margin-right: '5px';
    align-items: 'center';
    
}
.inputDate button{
    font-size: 2rem;
    color: #8F00FF;
}


button:hover{
    color:#33005B;
}
//Estilo para las imagenes de cada sala


.salaImage{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    width: 300px;
   

}



.salaImage img{
  max-width: 350px;
  height: 150px;
  border-radius: 5px;
  
}




.salaImage img:hover{
    transform: scale(1.01);
    cursor: pointer;
}




.salaImage h3{
    font-size: 2.3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    color: whitesmoke;
    
}

//Boton reservar
.reservar{
    display: none;
}
.horario-slot:hover .reservar{
    display: flex;
    position: absolute;
    bottom: 15%;
    background-color: #8F00FF;
    color: #fff;
    border-radius: 999px;
    padding: 3px;
    font-size: small;
    
}






//Codigo para version movil

@media screen and (max-width: 600px) {
    .salaImage{
        width: 100%;
        margin: 0;
      }
    
      .horario-slot{ 
        width: 150px;
        height: 50px;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        overflow: hidden;
        white-space: nowrap;
        font-size: small;
        
      }
      .horarios-disponibles{
        display: flex;
        justify-content: left;
      }

      #fechaSelector{
        width: 100%;
      }
      .inputDate button{
        display: none;
    }

    .NavCalendarRoom{
        display: none;
    }
      .inputDate{
        display: flex;
        justify-content: left;
      }

      .horario-slot:hover .reservar{
        display: none;
        
    }

  }

