
.nav_list_Tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 50px;
    align-items: center;
    
    
}
.BarcelonaTab, .MadridTab, .IbizaTab{
    margin-right: 50px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    
}


.BarcelonaTab:hover, .MadridTab:hover, .IbizaTab:hover{
    background-color: #8F00FF;
    border-radius: 24px;
    
}